{% include 'public_pages/public_header.html' %}
<div class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-holder">
                    <img src="/static/admin_assets/images/en1.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <h4>EZYZIP</h4>
                <h3>Image Encryption</h3>
             <h5></h5>
                <p>
 Securing visual data by converting it into a form that is unintelligible without the appropriate decryption key. This cryptographic technique ensures the confidentiality and privacy of images, preventing unauthorized access and comprehension.

</p>
                <a href="/login" class="button">Get it Now</a>
            </div>
        </div>
    </div>
</div>

<div id="products">
    <div class="container">
        <div class="row" id="product-inner">
            <div class="col-md-4 product-item text-center">
                <div class="image-holder">
                </div>
            
            </div>
            <div class="col-md-4 text-center">
                <div class="circle">
                    <h3>ENCRYPTION<br> </h3>
                </div>
            </div>
            <div class="col-md-4 product-item text-center">
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="portfolio">
    <div class="container" id="Grid">
        <div class="row">
            <div class="col-md-12 text-center title">
                <h2>OUR PORTFOLIO</h2>
                <span>WHAT WE HAVE DONE</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="filters">
                    <li class="active filter" data-filter="all">All</li>
                    <li class="filter" data-filter="responsive">Confidentiality </li>
                    <li class="filter" data-filter="creative">Security Against Unauthorized Access</li>
                    <li class="filter" data-filter="illustration">Key Management</li>
                   
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mix responsive">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/1.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/1.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4>RESPONSIVE ONE</h4>
                    <span>Responsive</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix nature">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/2.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/2.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4></h4>
                    <span></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix creative illustration">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/3.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/3.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4>CREATIVE MIX ONE</h4>
                    <span>Creative, Illustration</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix graphic">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/4.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/4.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4>FIRST GRAPHIC</h4>
                    <span>Graphic</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix nature">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/5.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/5.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4>BUTTERFLY TWO</h4>
                    <span>Nature</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix graphic">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/6.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/6.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4>SECOND GRAPHIC</h4>
                    <span>Graphic</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix creative responsive">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/7.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/7.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4>RESPONSIVE CREATIVE</h4>
                    <span>Responsive, Creative</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix creative illustration">
                <div class="work-item">
                    <div class="image-holder">
                        <img src="/static/admin_assets/images/gallery/8.jpg" alt="">
                        <div class="overlay">
                            <a href="images/gallery/8.jpg" data-rel="lightbox">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h4>CREATIVE MIX TWO</h4>
                    <span>Creative, Illustration</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bottom-section">
    <div class="container" id="promotion">
        <div class="row">
            <div class="col-md-6">
                
            </div>
        </div>
       
            <div class="col-md-7">
                <div class="right-contact text-center">
                    <h1>WE ARE HERE TO HELP YOU</h1>
                    <div class="image-holder margin-bottom">
                        <img src="/static/admin_assets/images/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="map-holder">
                    <div id="map_canvas" class="map-canvas"></div>
                </div>
            </div>
        </div>
    </div>
</div>



    
{% include 'footer.html' %}
