{% include 'admin_pages/admin_header.html' %}
<style>
table {
    width: 60%;
    margin: 50px auto;
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


th, td {
  color:white;
  font-size: 18px;
    padding:12px;
    text-align: center;
}
</style>
<div class="top-section">
    <div class="container">
        <div class="row">
           
           
               
                <form action=""method="post">
    

                    <b><center><h2 style="color: black; text-shadow: 2px 2px 4px #333; font-weight: bold; font-size:30px">DEPARTMENT DETAILS</h2></center></b>

                    <table align="center" class="table">
                        <tr>
                            <th>Department Name</th>
                            <td><input type="text" name="dname" id=""></td>
                        </tr>
                        <tr>
                            <th>Contact No.</th>
                            <td><input type="text" name="contact" id=""></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input type="email" name="email"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-info" ></td>
                        </tr>
                    </table>
                    </form>
                    <br><br><br>
                    <table align="center" class="table">
                        <tr>
                            <!-- <th>Sl no.</th> -->
                            <th>Dep. name</th>
                            <th>Contact no.</th>
                            <th>Email</th>
                            
                        </tr>
                        {%for i in data['dep']%}
                        <tr>
                            <td>{{i['dpt_name']}}</td>
                            <td>{{i['contact_no']}}</td>
                            <td>{{i['email']}}</td>
                            
                        </tr>
                        {%endfor%}
                     </table> 
                        

                </div>
            </div>
        </div>
    </div>


{% include 'footer.html' %}