<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- templatemo 416 xenon -->
<!--
Xenon Template
http://www.templatemo.com/tm-416-xenon
-->
<head>
    <meta charset="utf-8">
    <title>Xenon Design</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/static/admin_assets/css/bootstrap.min.css">
    
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="/static/admin_assets/css/font-awesome.min.css">
    
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Normailize Stylesheet -->
    <link rel="stylesheet" href="/static/admin_assets/css/normalize.min.css">

    <!-- Main Styles -->
    <link rel="stylesheet" href="/static/admin_assets/css/templatemo_style.css">

    <script src="/static/admin_assets/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header class="site-header" id="top">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="logo-wrapper">
                            <a class="navbar-brand" href="/manager_home">
                                <em>Home</em> 
                                <span class="logo-s"></span>
                            </a>
                        </div>  
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <span class="nav-s"></span>
                           
                            <li><a href="/mngr_mange_tsk">TASK</a></li>
                            <li><a href="/upload_file">UPLOAD FILE</a></li>
                            <li><a href="/mngr_view_works">VIEW WORKS</a></li>
                            <li><a href="/mngr_view_report">REPORTS</a></li>
                            <li><a href="/mngr_view_noti">NOTIFICATION</a></li>
                            <li><a href="/mngr_sent_cmplt">SEND COMPLAINT</a></li>
                        
                            <li><a href="/login">LOGOUT</a></li>

                        </ul>
                    </div>
                </div> 
            </div>
        </nav>
    </header>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="admin_mng_dpt">MANAGE DEPARTMENT</a>
    <a href="admin_mng_staff">MANAGE STAFF</a>
    <a href="admin_mng_notify">MANAGE NOTIFICATION</a>
    <a href="admin_mng_complaint">MANAGE COMPLAINT</a>
    <a href="admin_mng_file">MANAGE FILE</a>
    <a href="admin_mng_manager">MANAGE MANAGER</a>
    <a href="admin_mng_work">MANAGE WORK</a> -->




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="upload_file">UPLOAD FILE</a> -->