{% include 'manager_pages/manager_header.html' %}
<div class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-holder">
                </div>
            </div>
            <div class="col-md-6">
                <h4>EZYZIP</h4>
                <h3>Welcome Manager</h3>
             <h5></h5>
                <p>
 Securing visual data by converting it into a form that is unintelligible without the appropriate decryption key. This cryptographic technique ensures the confidentiality and privacy of images, preventing unauthorized access and comprehension.

</p>
                <a href="/manager_home" class="button">Get it Now</a>
            </div>
        </div>
    </div>
</div>

<div id="products">
    <div class="container">
        <div class="row" id="product-inner">
            <div class="col-md-4 product-item text-center">
                <div class="image-holder">
                </div>
]            </div>
            <div class="col-md-4 text-center">
                <div class="circle">
                    <h3>ENCRYPTION<br> </h3>
                </div>
            </div>
            <div class="col-md-4 product-item text-center">
                <div class="image-holder">
                    <img src="/static/admin_assets/images/3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
</div>





   
{% include 'footer.html' %}

