{% include 'manager_pages/manager_header.html' %}

    
<style>
    table {
        width: 60%;
      
       
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    
    th, td {
      color:white;
      font-size: 18px;
        padding:12px;
        text-align: center;
    }
    </style>
    <div class="top-section">
        <div class="container">
            <div class="row">

    <b><center><h2 style="color: black; text-shadow: 2px 2px 4px #333; font-weight: bold; font-size:30px"> MANAGE TASK FOR STAFF</h2></center></b>
<br><br>
     
       <form method="post">
        <table class="table">
            <textarea name="task" id="" cols="30" rows="10" placeholder="Type here About the task" style="font-size: 20px;"></textarea>
            <td><input type="submit" name="submit" id="" class="btn btn-primary"></td>

        </table>
    

      

        <table align="center" class="table">
            <tr>
                <th>Sl.no</th>
                <th>Task</th>
                <th>Assign To Staff</th>
             
             

            </tr>
         {%for i in data['task']%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{i['task']}}</td>
              
                <td><a href="assign_task?task_id={{i['task_id']}}">Assign TAsk</a></td>
        
            </tr>
        {%endfor%}
        </table>

        </form>
    </form>

</div>
</div>
</div>
</div>
    
{% include 'footer.html' %}
